.map-container {
    height: 500px;
    background-color: #ddd;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
    position: relative;
  }
  
  #map {
    height: 100%;
    width: 100%;
    border-radius: 25px;
  }
  
  .floating-filter-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #fff;
    color: #ff6600;
    border: 3px solid #ff6600;
    font-size: 1.5em;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 54px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    font-family: 'Bangers', cursive;
    cursor: pointer;
    z-index: 1000;
  }
 
